@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-route-provider="Google" asp-action="GetProvider" asp-controller="Home" class="btn btn-success btn-block">Google</a>
</div>
